<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Rihaaish</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false/>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string/>
		<key>RCTNewArchEnabled</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>arm64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>

		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) wants to access your camera to upload pictures.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(PRODUCT_NAME) wants to access your photos to upload pictures.</string>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<true/>
		<key>UIAppFonts</key>
		<array>
			<string>Gilroy-Black-It.ttf</string>
			<string>Gilroy-Black.ttf</string>
			<string>Gilroy-Bold-It.ttf</string>
			<string>Gilroy-Bold.ttf</string>
			<string>Gilroy-ExtraBold-It.ttf</string>
			<string>Gilroy-ExtraBold.ttf</string>
			<string>Gilroy-Heavy-It.ttf</string>
			<string>Gilroy-Heavy.ttf</string>
			<string>Gilroy-Light-It.ttf</string>
			<string>Gilroy-Light.ttf</string>
			<string>Gilroy-Medium-It.ttf</string>
			<string>Gilroy-Medium.ttf</string>
			<string>Gilroy-Regular-It.ttf</string>
			<string>Gilroy-Regular.ttf</string>
			<string>Gilroy-SemiBold-It.ttf</string>
			<string>Gilroy-SemiBold.ttf</string>
			<string>Gilroy-Thin-It.ttf</string>
			<string>Gilroy-Thin.ttf</string>
			<string>Gilroy-UltraLight-It.ttf</string>
			<string>Gilroy-UltraLight.ttf</string>
		</array>
	</dict>
</plist>
